.formulario__titulo {
    margin: 4em 0 0;
    font-size: 36px;
    font-weight: 600;
}

.formulario__descricao {
    padding: 1em;
    margin: 0 0 2.1em 0;
}

.formulario__input {
    border-radius: 8px;
    border-color: var(--cinza-muito-claro);
    width: 21em;
    height: 3em;
    padding: 0 0 0 1em;
    box-shadow: none;
    outline: none;
    border: 1px solid var(--cor-fundo-depoimentos);
}

.input__descricao {
    color: var(--cor-fundo-depoimentos);
    padding: 2em;
    font-size: 13px;
    font-weight: 400;
}
